.home_first{
    background-image: linear-gradient(to bottom,
     rgba(43, 49, 85, 0.42), rgba(36, 41, 73, 0.42)),
    url("../../image/reparaciones-electricas.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    height:70vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1,5em;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;

}