
.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(141, 145, 142, 0.034);
    padding: 2em;
    overflow-y: hidden;
}
.login-modal {
   &-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 5px 10px #88888848;
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: #55311c;
  }

  &-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 2;
  }

  &-right {
    flex: 2;
    font-size: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    button{
      width: 9em;
    }

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.login-sign-up {
  // margin: 60px 0 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #8c7569;
  }
}

.login-input-button {
  padding: 8px 12px;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: "Nunito", sans-serif;

  &:hover {
    background: #55311c;
  }
}

.login-input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
}

.login-input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

    .login-input-label {
      color: rgba(#8c7569, 0.8);
    }
  
}
@media(max-width: 750px) {
  .modal-container {
    width: 90%;
  }
  .modal-right {
    display: none;
  }
}